<template lang="pug">
  div.notification.todo-message(v-bind:class="{ 'is-done': todo.isDone }") 
    button.delete.remove-todo(type="button" v-on:click="remove_todo()")
    span {{ todo.message }}
    input(type="checkbox" v-model="isDone" v-on:click="toggle_done()")
</template>

<script>
    import Store from '@/store'
    import { TodoActions } from '@/store/todo'

    export default {
        name: 'todo',
        props: ['todo'],
        computed: {
            isDone () {
                return this.todo.isDone
            }
        },
        methods: {
            toggle_done () {
                let todo = this.todo
                console.log('updating...')
                todo.isDone = !todo.isDone
                Store.dispatch(TodoActions.update, todo)
            },

            remove_todo () {
                let todo = this.todo
                Store.dispatch(TodoActions.delete, todo)
            }
        }
    }
</script>

<style lang="scss">
    .todo-message.is-done {
        text-decoration: line-through;
    }
</style>
